<IfModule mod_autoindex.c>
    Options -Indexes +FollowSymlinks
    IndexIgnore */*
    AddDefaultCharset UTF-8
</IfModule>

<IfModule mod_expires.c>
    Header append Cache-Control "public"
    FileETag MTime Size
    ExpiresActive On
    ExpiresDefault "access plus 0 minutes"
    ExpiresByType image/ico "access plus 7 day"
    ExpiresByType text/css "access plus 7 day"
    ExpiresByType text/javascript "access plus 7 day"
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css application/xml application/xhtml+xml application/rss+xml application/javascript application/x-javascript application/x-font-ttf application/vnd.ms-fontobject font/opentype font/ttf font/eot font/otf
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^/].*)?$ /app/frontend/web/$1
</IfModule>
